/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar .navbar-brand {
    height: 50px;
    padding: 10px;
}

.logo-img {
    width: 150px;
    height: auto;
}

.login-panel form {
    padding-bottom: 20px;
}

#dashboard .panel-body {
    text-align: center;
}
#dashboard .panel-body h3,
#dashboard .panel-body .btn-primary {
    margin: 20px 0;
}

.account-summary {
    position: relative;
}
.account-summary .lead {
    margin-top: 20px;
}
.account-summary .edit {
    position: absolute;
    top: -1.5em;
    right: 1em;
    font-size: 2em;
}
#account-details form {
    display: none;
    margin-top: 20px;
}

#notification-settings, #change-password {
    display: none;
}