// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portfolio-details {
  .media-left {
    padding-right: 2em;
  }
  .media-body > h4 {
      font-size: 3em;
  }
  .media-body > strong {
    font-size: 3.8em;
  }
}
.welcome-box {
  margin-bottom: 2em;
  .welcome {
    font-size: 3em;
    color: green;
  }
  blockquote {
    font-size: 1em;
  }
}
.net-value {
  padding: 0 0 0 1em;
}
.net-value-change {
  .media-left i {
    font-size: 9em;
  }
}
.portfolio-charts {
  margin: 3em 0 0;
}

.positive {
  color: #bbdb93;
}
.negative {
  color: #bb4e51;
}