<div class="row">
  <div class="col-sm-4 col-sm-push-4">
    <div class="panel panel-info" id="general-settings">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-cog"></i> Settings</h4>
      </div>

      <div class="panel-body">
        <%= form_for(@account, url: { action: 'settings_post'}) do |f| %>
            <div class="form-group">
              <label for="account_password">Your main currency</label>
              <%= f.collection_select :currency_id, Currency.all, :id, :full_name, {prompt: true}, { :class => 'form-control' } %>
            </div>

          <div class="text-right">
            <button class="btn btn-default form-cancel">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
