<p>Welcome to NetValue!</p>
<p>
  You created a NetValue account with email address: <%= @account.email %>
</p>
<p>
  To continue using this account, please click the following link to confirm: <a href="<%= @url %>"><%= @url %></a>
</p>