<p>
  You have request password recovery on NetValue.<br>
  If you don't want to recover your password now, please just ignore this email.
</p>
<p>
  In order to set a new password, please use the following link: <a href="<%= @url %>"><%= @url %></a>
</p>