<div class="row" id="dashboard">
  <div class="col-md-4 col-md-push-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'portfolios/new_portfolio' %>
      </div>
    </div>
  </div>
</div>
