<div class="row portfolio-charts">
  <div class="col-md-5 col-md-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        Nothing to show
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <p class="lead">No transactions entered. Click <strong>Update</strong> to enter new transaction.</p>
        <button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#transaction-modal">Update</button>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
</div>