<div class="row">
  <div class="col-md-12">
    <h3 class="lead text-center">Welcome <%= current_account %></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="net-value media">
      <div class="media-left">
        <%= image_tag(current_account.gravatar_url(150), class: 'img-circle') %>
      </div>
      <div class="media-body">
        <h4>Net Value</h4>
        <strong class="positive">245,000 €</strong>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <h4>History</h4>
  </div>
</div>